
.home{
    /*height: 100%;
    padding-top: 3rem;*/
    height: 100vh;
    background:url(../images/pattern-hexagon.png) no-repeat;
    background-color: #ebf8ff;
    background-position: center;
    background-size: cover;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    margin-top: 12%;
    flex:1 1 40rem;
}

.home .row .image{
    margin-top: 5%;
    flex:1 1 42rem;
    padding-top: 5rem;
    text-align: center;
}

.home .row .image img{
    height:40rem;
     /* animation: float 6s linear infinite;  */
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-5rem);
    }
}

.home .row .content h3{
    font-size: 5.5rem;
    line-height: 1.3;
    color:   #443;
    text-transform: uppercase;
}
.home .row .content p{
    font-size: 1.7rem;
    color:var(--main-color);
    text-transform: none;
    /* text-transform: lowercase; */
}

.home .image-slider{
    text-align: center;
    padding:3rem 0;
}

.home .image-slider img{
    height:9rem;
    margin:0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover{
    transform: translateY(-2rem);
}

@media(max-width:768px){
    .home{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
}


@media(max-width:450px){
    .home .row .image img{
        height: auto;
        width: 100%;
    }
}

