@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
/* @import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy); */

:root{
    --main-color:#443;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);
}

*{
    font-family: "Poppins",sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

.btn{
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:#fff;
    background:  #4aa5fc;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-transform: none;
}

.btn:hover{
    color: #fff;
    background: #4aa5fc;
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem 9%;
}

/* .header .logo{
    color:var(--main-color);
    font-size: 2.5rem;
} */

/* .header .logo img{
    padding-right: .5rem;
} */
.jumbotron {
    background-color: #001a2e;
    box-shadow: .5rem .5rem #d3d9e1;
    /* margin-top: 80px; */
    padding: 0 0 20px 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
}
.header .navbar a{
    margin-right: 20px;
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--main-color);
}

.header .navbar a:hover{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color: #fff;
    background:#4aa5fc;    
}

.header .btn{
    margin-top: 0;
}

#menu-btn{
    font-size: 3rem;
    color:var(--main-color);
    cursor: pointer;
    display: none;
}

/* NAME IN INTEREST */
#nameFormInt {
    display: block;
    margin: auto;
    text-align: center;
  }

/* .print .container{
    background-color: #fff;
    padding: 40px;
    height: 100vh;
} */

.title{
    z-index: 1;
}
.intsingle-question label {
    float: left;
    margin: 20px auto 0 auto;
    font-size: 15px;
    padding: 0 1em;
    text-align: center;
}

.intsingle-question{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.row {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    /* margin: 0; */
}
  
.row .col-xs-6 {
    position: relative;
    display: inline;
    align-items: center;
    margin: 0;
    justify-items: center;
}



th{
    font-size: 15px;
    text-align: center;  
}
tr{
    width: 110%;
    padding: 10px;
}
td {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
table, th, td{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
    table, th, td{
        width: 50%;
        border: 2px solid black;
        border-collapse: collapse;
    }
    .intchart-container{
        width: 300px;
        height: 350px;
    }
    
} 

/* media queries  */

@media(max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
    

}


@media(max-width:768px){
    .heading{
        font-size: 6rem;
    }

    .heading span{
        font-size: 2.3rem;
    }

    .header #menu-btn{
        display: initial;
    }

    .header #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:#fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: block;
        font-size: 2rem;
        margin:0;
        padding:1.5rem 2rem;
    }
    .header .navbar a:hover{
        font-size: 2rem;
        padding:1rem 2rem;
    }
    .jumbotron {
        background-color: #001a2e;
        box-shadow: .5rem .5rem #d3d9e1;
        /* margin-top: 80px; */
        /* padding: 0 0 10px 0; */
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        border-radius: 5px;
    }
    .intquestion-text {
        font-weight: bold;
        font-size: 13px;
        text-transform: none;
    }
    .intsingle-question label {
        /* padding: 0 0 5px 0 ; */
        margin: 0px auto 0 auto;
        font-size: 8px;
        padding: .5em;
        text-align: center;
    }
    .row {
        margin: 0 auto 0 auto;
        padding: 0;
        justify-content: center;
        /* padding-right: 5px;
        padding-left: 5px; */
    }
    .row .col-xs-6 {
          position: relative;
          display: flex;
          width: 100%;
          padding-right: 10px;
          padding-left: 10px;
          align-items: center;
          margin: auto;
          justify-items: center;
    }
    #progress {
        position: fixed;
        bottom: 20px;
        right: 10px;
        height: 50px;
        width: 50px;
        display: none;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 2;
    }
    .title{
        font-size: small;
    }
    
    
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

}