.reviews .overall_rating .num {
    font-size: 30px;
    font-weight: bold;
    color: #F5A624;
}
.reviews .overall_rating .stars {
    letter-spacing: 3px;
    font-size: 32px;
    color: #F5A624;
    padding: 0 5px 0 10px;
}
.reviews .overall_rating .total {
    color: #777777;
    font-size: 14px;
}
.reviews .write_review_btn, .reviews .write_review button {
    display: inline-block;
    background-color: #2c5282;;
    color: #fff;
    text-decoration: none;
    margin-bottom:50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
}
.reviews .write_review_btn:hover, .reviews .write_review button:hover {
    color: #fff;
    background-color: #4aa5fc;
}
.reviews .write_review {
    display: none;
    padding: 15px 20px 0 20px;
    background-color: rgb(227, 228, 230);
    /* border-bottom: 1px solid #eee;
    border-top: 2px solid #eee; */
    border: 1px solid rgb(180, 180, 180);
    
    border-radius: 10px;
}
.reviews .write_review textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 150px;
    margin-top: 10px;
}
.reviews .write_review input {
    display: block;
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
.reviews .write_review button {
    cursor: pointer;
}
.reviews .review {
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.reviews .review .name {
    padding: 0 0 3px 0;
    margin: 0;
    font-size: 18px;
    color: #555555;
}
.reviews .review .rating {
    letter-spacing: 2px;
    font-size: 22px;
    color: #F5A624;
}
.reviews .review .date {
    color: #777777;
    font-size: 14px;
}
.reviews .review .content {
    padding: 5px 0;
}
.reviews .review:last-child {
    border-bottom: 0;
}
@media only screen and (max-width: 768px) {
    body{
        background-color: #fff;
        margin: 25px;
    }
	.reviews {
		flex-flow: column;
	}
    .reviews .overall_rating .num {
        font-size: 20px;
    }
    .reviews .overall_rating .stars {
        font-size: 25px;
    }
    .reviews .write_review_btn, .reviews .write_review button {
        font-size: 12px;
        font-weight: 400;
        margin-bottom:30px;
    }
    .reviews .write_review input {
        width: 200px;
        height: 40px;
        font-size: small;
    }
    .reviews .write_review textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        font-size: small;
    }
    .reviews .review .name {
        font-size: 18px;
    }.reviews .review .content {
        font-size: 15px;
    }
}