 
 body{
    font-family: sans-serif;
    margin:0;
    line-height: 1.5;
}
*{
   font-family: 'Poppins', sans-serif;
   padding: 0;
   transition: all .2s linear;
   box-sizing: border-box;
   margin: 0;
   text-decoration: none;
}

.container{
    max-width: 1100px;
    padding: 30px 0px 0px 0px;
}
.row{
    display: inline-flex;
}
/* .section-title{
   flex:0 0 100%;
   max-width: 100%;
   margin-bottom: 60px;
}
.section-title h1{
   text-align: center;
   font-size: 36px;
   color:#000000;
} */

.services{
   max-height: 200vh;
   padding: 30px 0 40px 20px;
   background:url(../images/pattern-hexagon.png) no-repeat;
   background-color: #ebf8ff;
   background-position: center;
   background-size: cover;
   display: flex;
}
.services .service-items{
   flex:0 0 70%;
   max-width: 80%;
}
.services .service-items .item{
   flex:0 0 40%;
   max-width: 320px;
   margin: 10px;
   border-radius: 1rem;
   /* box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1); */
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
   background-color: #fff;
}
.services .item-inner .item-img{
   display: block;
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: 1rem 1rem 0rem 0rem;
}
.services .service-items .read-more-cont{
   display: none;
}
.services .service-items .item-inner h3{
   font-size: 20px;
   color:#000000;
   margin-bottom: 5px;
   position: relative;
   padding: 20px 00px 0px 20px;
}
.services .service-items .item-inner p{
   color:#555555;
   font-size: 14px;
   margin:0 0 10px;
   padding: 0px 10px 0px 20px;
   text-transform: none;
}
.services .service-items .item-inner .butn{
   font-size: 16px;
   background-color: #4aa5fc;
   border:1px solid #fff;
   color:#fff;
   padding: 8px 15px;
   cursor: pointer;
   margin: 0px 0px 30px 20px;
   border-radius: 1rem;
}
.services .service-items .item-inner .butn:hover{
   background:  #006dd3;
}




/* service-items2 */
.services .service-items2{
   flex:0 0 70%;
   max-width: 80%;
}
.services .service-items2 .item{
   flex:0 0 40%;
   max-width: 320px;
   margin: 10px;
   border-radius: 1rem;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
   /* box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1); */
   background-color: #fff;
}
.services .service-items2 .read-more-cont{
   display: none;
}
.services .service-items2 .item-inner h3{
   font-size: 20px;
   color:#000000;
   margin-bottom: 5px;
   position: relative;
   padding: 20px 00px 0px 20px;
}
.services .service-items2 .item-inner p{
   color:#555555;
   font-size: 14px;
   margin:0 0 50px;
   padding: 0px 10px 0px 20px;
   text-transform: none;
}
.services .service-items2 .item-inner .butn{
   font-size: 16px;
   background-color: #4aa5fc;
   border:1px solid #fff;
   color:#fff;
   padding: 8px 15px;
   cursor: pointer;
   left: 20px;
   bottom: 30px;
   position: relative; /* added */
   border-radius: 1rem;
}
.services .service-items2 .item-inner .butn:hover{
   background:  #006dd3;
}


/* popup-box */
.popup-box{
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top:0;
   background-color: rgba(0,0,0,0.5);
   z-index: 500;
   visibility: hidden;
   opacity:0;
   transition: all 0.5s ease-in-out;
}
.popup-box.open{
    visibility: visible;
    opacity:1;	
}
.popup-box .popup-content{
   background-color: #ffffff;
   width: 900px;
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
   border-radius: 8px;
}
.popup-box .popup-header{
   padding: 15px 40px 15px 15px;
   border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
   margin:0;
   color:#E91E63;
   font-size: 30px;
}
.popup-box .popup-header .popup-close-icon{
   position: absolute;
   height: 30px;
   width: 30px;
   text-align: center;
   color: #555555;
   font-size: 28px;
   line-height: 30px;
   right: 5px;
   top: 5px;
   cursor: pointer;
}
.popup-box .popup-body{
   padding: 15px;
   max-height: 400px;
   overflow-y: auto;
}
/* .popup-box .popup-body img{
   width: 100%;
   display: block;
   margin-top: 15px;
} */
.popup-box .popup-body p{
   font-size: 16px;
   color:#555555;
   margin:0 0 15px;
}
.popup-box .popup-footer{
   padding: 15px;
   border-top:1px solid #dddddd;
   text-align: right;
}
.popup-box .popup-footer .butn{
   padding: 8px 15px;
   color:#fff;
   font-size: 16px;
   background-color: #4aa5fc;
   cursor: pointer;
   border-radius: 4px;
}
.popup-box .popup-footer .butn:focus{
   outline: none;
}


/* Media queries */
@media only screen and (max-width: 768px) {
   .container{
      max-width: 800px;
  }
  .row{
      display: grid;
      justify-items: center;
  }
   .services{
      max-height: 650vh;
      padding: 20px;
   }
   .services .service-items,
   .services .service-items2{
      max-width: 100%;
      
   }
   .services .service-items .item-inner h3,
   .services .service-items2 .item-inner h3{
      font-size: 25px;
   }
   .services .service-items .item-inner p,
   .services .service-items2 .item-inner p{
      font-size: 16px;
   }
   .services .service-items .item-inner .butn,
   .services .service-items2 .item-inner .butn{
      font-size: 16px;
      padding: 10px 95px;
      border-radius: 5rem;
   }
  .popup-box .popup-content{
      width: calc(100% - 30px);
  }
  .popup-box .popup-header h3{
      font-size: 25px;
  }
  .popup-box .popup-header .popup-close-icon{
      font-size: 40px;
      line-height: 30px;
      right: 10px;
      top: 10px;
  }
}
